h3 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 250%;
}

h2, b {
  font-family: 'Montserrat:500', sans-serif;
}

h5, p, i {

  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color:#dedfea;
  border-bottom: #3f8747 10px solid;
  padding-bottom: 10px;
}

#header-wrapper {
  width: 80%;
  margin: auto;
}

#presentation-wrapper {
  text-align: left;

}

#contact-wrapper {
  text-align: left;
}

#printer-image {
  width: 56px;
  margin-left: -6px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#mypic {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 180px;
  float: left;
}

#info-wrapper {
  width: 80%;
  float: left;
}

.logo-image {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 60px;
  float: left;
}

.calendar {
  width: 20px;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.bars-background {
  background-color: #f9f9f9;
  height: 34px;
}

.bars{
  height: 34px;
  width: 10%;
  padding-left: 5px;
  vertical-align: middle;
  line-height: 34px;
}

.odd-bars {
  background-color: #3f8747;
  color: white;
}

.even-bars {
  background-color: #dedfea;
}

.card{
  margin-bottom: 20px;
  border: 1px solid;
  border-color: lightgray;
}

.card-header {
  padding-left: 2px;
  padding-right: 5px;
  background-color: #dedfea;
}

.card-content {
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: justify;
}

.card-footer {
  display: flex;
  flex-direction: column;
  min-height: 28px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #dedfea;
}

